<?xml version="1.0"?>
<capsule>
	<nc class="com.divinesoft.activecloud.capsules.RSSCapsule"  />
		
	<!-- Feed Types: rss_0.9, rss_0.91, rss_0.92, rss_0.93, rss_0.94, rss_1.0, rss_2.0, 
	atom_0.3, atom_1.0 -->
	<config>
		<key name="feedtype" value="atom_1.0" />
		<key name="feedfilename" value="rsscapsule.xml" />
		<key name="encoding" value="utf-8" />
		<key name="feedtitle" value="Foo" />
		<key name="maxentries" value="15" />
		<key name="timestampformat" value="HH:mm:ss z" />
	</config>

</capsule>